
body,html {
    height:100%;
}
.body{
    background: url(img/01.jpg) center no-repeat;
    background-size: cover; /* kapak,ortme */
    height:100%;
}
.entry{
    margin-top: 150px;
}
.text {
    font-family: 'Raleway', sans-serif;
}
.how{
    background: url(img/hw01.jpg) center no-repeat;
    background-size:cover ; /* kapak,ortme */
    height:100%;
}

a:link{ color:rgba(255, 255, 255, 0.692);
    text-decoration:none; }  /*Linklerin ilk halidir. */

a:visited{ color:rgba(255, 255, 255, 0.692); 
    text-decoration:none; }  /*Linklerin ziyaret edildikten sonraki halidir. */

a:hover{ color:rgba(255, 255, 255, 0.692);
    text-decoration:none; }  /*Mouse linkin üzerine geldigindeki halidir. */

a:active{ color:rgba(255, 255, 255, 0.692);
    text-decoration:none; }  /*Mouse ile linke tiklandigi andaki halidir. */
